h1{
    text-align: center;
    font-size: 60px;
	color: #004d00;
	font-weight: 700;
	font-family: cursive;
}
h2{
    text-align: center;
    font-size: 40px;
	color: #004d00;
	font-weight: 700;
	font-family: cursive;
}